---
layout: default
---

{% include sidebar_static.html %}
{% include sidebar.html %}

<div class="px-4 md:px-0 mt-24 container mx-auto">

  <h1 class="text-lg">Who am I ?</h1>
  <br>
  <p>I grew up and make my studies in Paris, France 🇫🇷.</p>
  <p>After being graduated, I worked for few years as receptionnist in luxury hotels.</p>
  <p>Curious and auto-didact, I started to learn the basics of code by myself. Then I decided to change my career to
    work as web developer. To achieve my goal, I integrated a bootcamp in Paris, <a
      href="https://www.lewagon.com/fr/paris">Le Wagon</a>, to learn coding web applications.
    Then I worked on multiple side projects to improve my skills, before working for the first time as Ruby developer in
    a company.</p>
  <br>
  <h1 class="text-lg">What I like ?</h1>
  <br>
  <p>
    Learning new things 🎸, singing under the shower 🎤, drawing fantastical things 🖌️, eating gastronomic foods 🍔,
    and most of all traveling 🌍. I have a fascination for international cultures around the world.
  </p>
  <br>
  <h1 class="text-lg">What I do ?</h1>
  <br>
  <p>My professionnal career started in 2017. Today, while working on side
    projects and learning new skills, I work as freelancer mostly in Ruby langage.
  </p>
  <p>My goal is to discover new technologies, integrate projects with good patterns and a serious attachment to the
    code quality.
  </p>
  <p>If you have any questions, or need to talk about technical topics or articles, you can contact me by <a
      class="font-bold" href="mailto:anelli.dev@gmail.fr" target="_blank">Email</a>.
  <p>Here my <a class="font-bold" href="https://github.com/camilleanelli" target="_blank">Github account</a>, and my <a
      class="font-bold" href="https://www.linkedin.com/in/camilleanelli/" target="_blank">LinkedIn account</a> for more
    informations.</p>
</div>
