body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/


}

.home-header {
  background: rgba(224, 130, 131, 1);
  height: 500px;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.photo-header {
  margin-top: 150px;
}
h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
}

.nav {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
}

.name {
  flex: 1;
  width: 50%;
  color: white;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  margin-left: 10px;
}

.title {
  color: white;
  font-family: 'Lobster', cursive;
}



.space-middle {
  flex: 1;
}
.home-nav{
  flex: 1;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
}

.home-nav li a {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.home-nav li a:hover {
  text-decoration: none;
  color: grey;
}

.article-wrap {
  font-family: sans-serif;
  color: #22313F;
  font-size: 18px;

}

.article-wrap h4 {
  color: black;
}

.article-wrap h2 {
  margin: 50px 0px;
}
.article-wrap h3 {
  margin-top: 50px;
}

.article-wrap h4 {
  margin-top: 30px;
}


/*******
section posts
******/

#posts {
  flex: 1;
  padding-top: 20px;
  font-family: sans-serif;
  color: grey;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.card-post a:hover {
  text-decoration: none;
}

#posts h1 {
  font-family: 'Lobster', cursive;
}

.moi {
  margin: auto;
  margin-bottom: 20px;
}

.photo {
  height: 180px;
  width: 180px;
  border-radius: 100%;
}

#footer {
  display: flex;
  width: auto;
  height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;


}
.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex: 1;
  margin: auto;
}


.links li a {
  color: rgba(224, 130, 131, 1);
  flex: 1;
}

.spacer {
  height: 100px;
}

.hr-posts {
  width: 100px;
  border: 2px solid gray;
  margin: auto;
  background-color: gray;
  border-radius: 5px;
}

.mini-space {
  height: 30px;
}

.date {
  margin: auto;
}

/*******
layout article.html
*******/
.title-article {
  color: black;
  text-decoration: none;
}

.title-article a:hover {
  color: grey;
  text-decoration: none;
}
.content {
 background-color: #DADFE1;
 display: flex;
  min-height: 100vh;
}
.nav-article {
  background: rgba(224, 130, 131, 1);
  min-height: 100vh;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

.nav-article ul {
  list-style: circle;
  margin: auto;
  margin-top: 20px;
}

.nav-article ul li a {
  text-decoration: none;
  color: white;
}

.nav-article ul li a:hover {
  text-decoration: none;
  color: white;
}
.photo-article {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.margin-nav-post {
  margin: 20px;
}

.grey {
  min-height: 100vh;
  background-color: #DADFE1;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
  }
  .home-header {
    height: 100px;
  }
#footer {
    height: 100px;
  }
 .links-phone {
     flex-grow: 6;
  }
}
