body {
  height: 100%;
  font-family: sans-serif;
}

.homepage {
  margin:auto;
}

h1 {
  margin: 10px auto;
  text-align: center;
  line-height: 50px;
  width: 300px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.intro {
  width: 500px;
  margin:20px auto;
  text-align: center;
  font-size: 17px;
  color: #666666;

}

.moi {
  margin-bottom: 20px;
  display: block;
  margin: auto;
  width: 180px;

}

.photo {
  height: 180px;
  width: 180px;
  border-radius: 100%;

}

.content {
  padding-top: 10px;
  width: auto;
}


.links a {
  text-decoration: none;
  color: SlateGray;
}

.at {
  height: 60px;
  width: 60px;
}

.git {
  height: 60px;
  width: 60px;
}


.links {
  margin: auto;
  height: 100px;
  width: 60%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.links ul {
  padding-top: 13px;
  margin-top: 20px;
  text-align: center;
  margin:auto;
}


.links li {
  display: inline-block;
  margin-left: 10px;
}


.spacer {
  height: 200px;

}




