---
---
<!DOCTYPE html>
<html>
  <head>
  {% include _head.html %}

  </head>


<body class="homepage">
<div class="container-height">

  <section id=header class="home-header col-sx-12">
    <nav class="container-fluid nav-bar slideDown">
      <div class="col-md-4">
        <p class="name">Camille Anelli</p>
      </div>
      <div class="hidden-xs col-md-4"></div>
      <div class="col-md-4">
        <ul class="home-nav">
          <!-- ajouter portefolio   -->
          <li><a href="#about">About</a></li>
          <li><a href="#posts">Articles</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </div>
    </nav>

      <div class="hidden-xs moi text-center">
        <img src="images/camilleee.jpg" class="photo" alt="photo"/>
        <h1 class="title">Freelance Web developer</h1>
      </div>



</section>

<!-- <section class="icones text-center">
  <img src="images/js.svg" class="size-icon" alt="">
  <img src="images/ruby on rails.svg" class="size-icon" alt="">
  <img src="images/css.svg" class="size-icon" alt="">
</section> -->

<section id="posts" class="container">
  <div class="row text-center">

      <h1 class="title-section"><i class="fa fa-pencil"></i>Articles</h1>

        {% for post in site.posts %}

        <div class="card-post">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          <p class="date">{{ post.date |  date: '%d/%m/%Y'}}<p>
        </div>


        {% endfor %}
  </div>
  </section>
  <div class="mini-space"></div>
</div>

<section id="about">

</section>

<section id="footer">
  <div class="links"></div>
  <ul class="links links-phone">
    <li><a href="https://fr.linkedin.com/in/camilleanelli" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a href="mailto:camilleanelli32@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
    <li><a href="https://github.com/camilleanelli" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com/CamilleAnelli" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>
      <div class="links"></div>

    </section>
<footer class="text-center">&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</footer>


    {% include analytics.html %}

    <div>
     {% include _footer.html %}
    </div>

  </body>
</html>
