---
layout: default
---

<div class="items-center md:flex-row justify-center w-full h-screen bg-cover flex" style="background-image: url(assets/images/japon.jpg)">
  <div class="sm:invisible w-1/3"></div>
  <div class="flex-col justify-center">
    <div class="resume text-center items-center font-sans text-base md:text-3xl text-white">Web developer Ruby on Rails since 2016, I am working as a freelancer for some digital companies</div>
    <div class='flex items-center justify-center'>
      <a href="/404.html">
        <button class="bg-transparent text-white text-xl py-2 px-4 m-6 border border-white hover:text-purple-500 hover:border-purple-500 rounded">
          Show more 
        </button>
      </a>
    </div>
  </div>
  <div class="w-1/3"></div>
</div>

  <div id='show' class="flex flex-col md:h-56 md:flex-row items-center">
    <section class="rounded-sm shadow-lg w-full md:w-1/3 articles text-gray-700 p-4 text-center m-4">
      <div class="font-bold text-xl mb-2 border-b-2">Articles</div>
      <div>
          {% for post in site.posts %}
            <!-- <div class="border-b-2 border-purple-500 text-center py-2"> -->
              <!-- <p><a href="{{ post.url }}">{{ post.title }}</a></p>
              <p class="text-gray-500 text-sm">{{ post.date | date: '%B %Y' }}</p> -->
            <!-- </div> -->
          {% endfor %}
      </div>
    </section>

    <section class="rounded-sm shadow-lg w-full md:w-1/3 articles text-gray-700 p-4 text-center m-4">
      <div class="font-bold text-xl mb-2 border-b-2">Notes technique</div>
      <div>
          {% for note in site.notes %}
            <!-- <div class="border-b-2 border-purple-500 text-center py-2"> -->
              <!-- <p><a href="{{ note.url }}">{{ note.title }}</a></p>
              <p class="text-gray-500 text-sm">{{ note.date | date: '%B %Y' }}</p> -->
              
            <!-- </div> -->
          {% endfor %}
      </div>
    </section>

    <section class="rounded-sm md:flex-shrink shadow-lg w-full md:w-1/3 articles text-gray-700 p-4 text-center m-4">
      <div class="font-bold text-xl mb-2 border-b-2">Blog posts</div>
      <div>
          {% for post in site.english_posts %}
            <!-- <div class="border-b-2 border-purple-500 text-center py-2">
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </div> -->
          {% endfor %}
      </div>
    </section>
  </div>

  <section id="footer" class="rounded-sm shadow-lg border-2 text-gray-700 p-4 text-center m-4">
    Mention légales 

  </section>