<meta charset="utf-8">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@CamilleAnelli">
<meta name="twitter:title" content="Blog de Camille Anelli">
<meta name="twitter:description" content="Blog articles pour débutants">
<meta name="twitter:creator" content="@CamilleAnelli">
<meta name="twitter:image:src" content="http://www.camilleanelli.fr/images/blog.jpg">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

<link type="text/css" rel="stylesheet" href="blog.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<link rel="canonical" href="https://dev.twitter.com/web/tweet-button"/>

<!-- Latest compiled and minified CSS -->



<!-- Font -->
<!-- Latest compiled and minified CSS -->

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
