<div class="md:hidden sm:flex flex-col items-center justify-center w-full">
  <div class="space-x-4 flex justify-center m-4">
    <a href="https://www.linkedin.com/in/camilleanelli/" target="_blank"><i
        class="text-purple-900 hover:text-purple-600 fa-2x fab fa-linkedin"></i></a>
    <a href="mailto:anelli.dev@gmail.com" target="_blank">
      <i class="text-purple-900 hover:text-purple-600 fa-2x fas fa-envelope"></i>
    </a>
    <a href="https://github.com/camilleanelli" target="_blank"><i
        class="text-purple-900 hover:text-purple-600 fa-2x fab fa-github-square"></i></a>
    <a href="https://twitter.com/CamilleAnelli" target="_blank"><i
        class="text-purple-900 hover:text-purple-600 fa-2x fab fa-twitter-square"></i></a>
  </div>
</div>
