<nav class="md:flex flex-row w-full justify-center bg-transparent hidden py-2">
  <div class="flex flex-row w-2/3">
    <div class="sm:2/3 md:w-1/2 flex flex-row items-center justify-start">
      <div class="sm:ml-4 font-mono md:space-x-6 sm:text-sm md:text-xl">
        {% include navigation.html %}
      </div>
    </div>
    <div class="sm:1/3 md:w-1/2 flex flex-row space-x-4 items-center md:pr-6 justify-end text-white my-4">
      <a href="https://www.linkedin.com/in/camilleanelli/"><i
          class="text-purple-900 hover:text-purple-700 fa-2x fab fa-linkedin"></i></a>
      <a href="mailto:anelli.dev@gmail.com" target="_blank">
        <i class="text-purple-900 hover:text-purple-700 fa-2x fas fa-envelope"></i>
      </a>
      <a href="https://github.com/camilleanelli" target="_blank"><i
          class="text-purple-900 hover:text-purple-700 fa-2x fab fa-github-square"></i></a>
      <a href="https://twitter.com/CamilleAnelli"><i
          class="text-purple-900 hover:text-purple-700 fa-2x fab fa-twitter-square"></i>
      </a>
    </div>
  </div>
</nav>
