---
---
@import "main";

.image {
  width: 100%;
}

.title {
  left: 100px;
  top: 50px;
}

#comment-garder-le-cap-après-un-bootcamp {
  color: grey;
}

.resume {
  filter: drop-shadow(0 0 0.75rem black);
}
