<!DOCTYPE html>
<html>
<head>
{% include _head.html %}
<link type="text/css" rel="stylesheet" href="/blog.css"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <div class="hidden-sm hidden-md hidden-lg row content-xs">
    <div class="col-xs-12 text-center nav-xs">
      <div class="moi margin-nav-post"><img src="/images/camilleee.jpg" class="photo-article" alt="photo"/></div>
      <ul class="list-inline">
        <li><a href="/index.html">Home</a></li>
        <li><a href="mailto:camilleanelli32@gmail.com">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="row content">
    <div class="hidden-xs col-md-2 nav-article">
      <div class="moi margin-nav-post"><img src="/images/camilleee.jpg" class="photo-article" alt="photo"/></div>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="mailto:camilleanelli32@gmail.com">Contact</a></li>
      </ul>
    </div>
    <div class="grey col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-2">
    <article class="post">
    <h1 class="title-article"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>

      <div class="article-wrap">
        {{ content }}
      </div><!-- /.article-wrap -->
    </article>
    <div class="spacer text-left">
      <h2 class="tweet text-left">
        <a class="twitter-share-button"
        href="https://twitter.com/share"
        data-size="large"
        data-url="https://dev.twitter.com/web/tweet-button"
        data-via="CamilleAnelli"
        data-related="twitterapi,twitter"
        data-text="www.camilleanelli.fr">
        <i class="fa fa-twitter"></i> Tweet
        </a>
      </h2>
    </div>
 </div>
</div>

{% include analytics.html %}

</body>
</html>
