<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
<title>blog de Camille Anelli</title>
<link type="text/css" rel="stylesheet" href="/blog.css"/>
    
</head>

<body>

<div class="homepage">
  
    <header>
      <h1>Camille Anelli</h1>
      <p class="intro">Actuellement intégratrice junior, basée  sur Paris, je suis en plein apprentissage du développement web</p>
    <p class="moi"><img src="/images/camilleee.jpg" class="photo" alt="photo"/></p>
</header>
 <div class="content">   

    {{content}}
    
    </div>
    
<footer></footer>
</div>



</body>
</html>