---
---
<!DOCTYPE html>
<html>
  <head>
  {% include _head.html %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

</head>

<body>

<div class="grey">

      <nav class="container-fluid nav-bar">
        <div class="col-md-4">
          <p class="name"><a href="/index.html">Home</a></p>
        </div>
        <div class="hidden-xs col-md-4"></div>
          <div class="col-md-4">
            <ul class="home-nav">
              <li><a href="mailto:camilleanelli32@gmail.com">Contact</a></li>
              <li><a href="/index.html">Articles</a></li>
              <li><a class="twitter-share-button"
              href="https://twitter.com/share"
              data-size="large"
              data-url="https://dev.twitter.com/web/tweet-button"
              data-via="CamilleAnelli"
              data-related="twitterapi,twitter"
              data-text="www.camilleanelli.fr">
              <i class="fa fa-twitter"></i> Share
              </a></li>
            </ul>
          </div>
       </nav>
      <div class="container">
        <article class="post col-md-8 col-md-offset-2">
        <h1 class="title-article"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
          <div class="article-wrap">
            {{ content }}
          </div><!-- /.article-wrap -->
        </article>

     </div>
     {% include _footer.html %}
</div>

{% include analytics.html %}


</body>
</html>
